.vscode/**
__pycache__/**
report*
test.py
notas.txt
app.log
test_response.xml
log_sesion_router.txt
configured_params.log
part2/*.cfg
part2/*.xml
part2/__pycache__/**
part2/build/**
part2/showconfig.spec
